apiVersion: v1
kind: Service
metadata:
  name: ${name}
  annotations:
    aviinfrasetting.ako.vmware.com/name: ${aviinfrasetting}
spec:
  type: LoadBalancer
  selector:
    app: ${selector_app}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
